@model Court_booking.Models.Court
@{
    ViewData["Title"] = "ChangeStatus";
}

<h2>ChangeStatus</h2>

<form method="post" asp-action="Change_status" style="display:inline;">
    <input type="hidden" name="id" value="@Model.Id"/>
    <label>Court: @Model.Type</label>
    <label>Status: @Model.Status</label>
    <select asp-for="Status" class="form-control">
        <option value="" disabled selected>Select a status</option>
        <option value="open">Open</option>
        <option value="closed">Closed</option>
    </select>
    <input type="submit" />
</form>
<a asp-action="Court">Back</a>