@model Court_booking.Models.Court
@{
    ViewData["Title"] = "ChangeStatus";
}

<h2>ChangeStatus</h2>
<br />

<div class="myview">
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Change_status">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input disabled asp-for="Type" class="form-control" />
                </div>                
                <div class="form-group">
                    <label asp-for="Status" class="control-label">New Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="" disabled selected>Select a status</option>
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Court"><input type="button" class="btn btn-danger" value="Back" asp-action="Index" /></a>
                </div>
            </form>
        </div>
    </div>
</div>