@model IEnumerable<Court_booking.Models.Court>
@{
    ViewData["Title"] = "Court";
}

<h2>Court</h2>
<br />
<div class="myview">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var c in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => c.Id)</td>
                    <td>@Html.DisplayFor(item => c.Type)</td>
                    <td>@Html.DisplayFor(item => c.Status)</td>
                    <td>
                        <a asp-action="ChangeStatus" asp-route-id="@c.Id">Change Status</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
