@model Court_booking.Models.People
@{
    ViewData["Title"] = "EditCus";
}

<h2>EditCus</h2>

<br />
<div class="myview">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditCustomer" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input disabled type="tel" name="Contact" class="form-control" value="@Model.Name" />                    
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input type="tel" name="Contact" class="form-control" value="@Model.Contact"/>
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" name="Email" class="form-control" value="@Model.Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index"><input type="button" class="btn btn-danger" value="Back" asp-action="Index" /></a>
                </div>
            </form>
        </div>
    </div>
</div>

