@model Court_booking.Models.People
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
<br />
<br />

<div class="myview">
    <p>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @Model.Name</p>
    <p>Contact &nbsp;: @Model.Contact</p>
    <p>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @Model.Email</p>
    <br />
    <a asp-action="Update_profile">Update Profile</a>
</div>