@model Court_booking.Models.People
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>@Model.Name</p>
<p>@Model.Contact</p>
<p>@Model.Email</p>
<a asp-action="Update_profile">Update Profile</a>
